[submodule "rma_ept_x"]
	path = rma_ept_x
	url = git@github.com:viernes/rma_ept_x.git
[submodule "global_invoice_pos"]
	path = global_invoice_pos
	url = git@gitlab.com:xmarts/apps/global_invoice_pos.git

[submodule "customer_uso_cfdi"]
	path = customer_uso_cfdi
	url = git@github.com:xmarts/customer_uso_cfdi.git
	branch = master

[submodule "pos_stock_qty"]
	path = pos_stock_qty
	url = git@github.com:xmarts/pos_stock_qty.git
	branch = master
